<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Server.Properties.Settings.Database1ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Server.Properties.Settings.Database1ConnectionString1" connectionString="Data Source=|DataDirectory|\Database1.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="Server.Properties.Settings.DatabaseConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Server.Properties.Settings.DB_9C0D5F_auctionsConnectionString" connectionString="Data Source=SQL5002.Smarterasp.net;Initial Catalog=DB_9C0D5F_auctions;Persist Security Info=True;User ID=DB_9C0D5F_auctions_admin;Password=auctions" providerName="System.Data.SqlClient" />
    <add name="DatabaseEntities" connectionString="metadata=res://*/ModelData.csdl|res://*/ModelData.ssdl|res://*/ModelData.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\Database.sdf;password=admin&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_9C0D5F_auctionsEntities" connectionString="metadata=res://*/ModelAuctionData.csdl|res://*/ModelAuctionData.ssdl|res://*/ModelAuctionData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5002.Smarterasp.net;initial catalog=DB_9C0D5F_auctions;user id=DB_9C0D5F_auctions_admin;password=auctions;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_9C0D5F_auctionsEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5002.Smarterasp.net;initial catalog=DB_9C0D5F_auctions;persist security info=True;user id=DB_9C0D5F_auctions_admin;password=auctions;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_9C0D5F_auctionsEntities2" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5002.Smarterasp.net;initial catalog=DB_9C0D5F_auctions;persist security info=True;user id=DB_9C0D5F_auctions_admin;password=auctions;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_9C0D5F_auctionsEntities3" connectionString="metadata=res://*/ModelDataBase.csdl|res://*/ModelDataBase.ssdl|res://*/ModelDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5002.Smarterasp.net;initial catalog=DB_9C0D5F_auctions;persist security info=True;user id=DB_9C0D5F_auctions_admin;password=auctions;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_9C0D5F_auctionsEntities4" connectionString="metadata=res://*/ModelData.csdl|res://*/ModelData.ssdl|res://*/ModelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5002.Smarterasp.net;initial catalog=DB_9C0D5F_auctions;persist security info=True;user id=DB_9C0D5F_auctions_admin;password=auctions;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>