@using System.Collections.Generic
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div id="header">
    <div class="title">Аукцион  @Html.ActionLink("Выставить лот", "Checkout", "Checkout")
    </div>
  </div>
  <div id="categories">
    БлаБлаБлO
  </div>
  <div id="content">
    @RenderBody()
  </div>
</body>
</html>